[user]
	email = ben@tilde.team
	name = Ben Harris
	signingkey = FC2255B7BBC7EABD4EFAFA1068907D8BCCD85A5A

[push]
	default = simple

[commit]
	gpgsign = true
	verbose = true

[pull]
	ff = only

[pager]
    diff = diff-highlight | less
    log = diff-highlight | less
    reflog = diff-highlight | less
    show = diff-highlight | less

[diff]
    colorMoved = default

[diff "gpg"]
	textconv = gpg --no-tty --decrypt
	cachetextconv = false

[diff "ansible-vault"]
	textconv = ansible-vault view
	cachetextconv = false

[sendemail]
	smtpencryption = tls
	smtpserver = mail.tilde.team
	smtpserverport = 587
	annotate = yes
	smtpuser = ben
[alias]
	lol = log --oneline --graph --decorate --all
	joke = !curl -s https://raw.githubusercontent.com/EugeneKay/git-jokes/lulz/Jokes.txt | shuf -n1
	dad = !curl https://icanhazdadjoke.com
	staged = diff --staged
	ap = add --patch
	local = log --oneline --no-merges ${1-$(git branch -lvv | perl -ne '/^\\\\*.*\\\\[(.*?)\\\\]/ and print \"$1\\n\"')}..HEAD
	upstream = log --oneline --no-merges HEAD..${1-$(git branch -lvv | perl -ne '/^\\\\*.*\\\\[(.*?)\\\\]/ and print \"$1\\n\"')}
	cv = commit --verbose
[rerere]
	enabled = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[core]
	excludesfile = /home/ben/.gitignore
