[user]
	email = ben@tilde.team
	name = Ben Harris
	signingkey = FC2255B7BBC7EABD4EFAFA1068907D8BCCD85A5A

[push]
	default = simple

[commit]
	gpgsign = true

[pull]
	ff = only

[diff "gpg"]
	textconv = gpg --no-tty --decrypt
	cachetextconv = false

[diff "ansible-vault"]
	textconv = ansible-vault view
	cachetextconv = false

[sendemail]
	smtpencryption = tls
	smtpserver = mail.tilde.team
	smtpserverport = 587
	annotate = yes
	smtpuser = ben
[alias]
	lol = log --oneline --graph --decorate --all
	joke = !curl -s https://raw.githubusercontent.com/EugeneKay/git-jokes/lulz/Jokes.txt | shuf -n1
	dad = !curl https://icanhazdadjoke.com
[rerere]
	enabled = true
