[submodule "fish/.config/fish/nvm-wrapper"]
	path = fish/.config/fish/nvm-wrapper
	url = https://github.com/passcod/nvm-fish-wrapper

[submodule "emacs/.emacs.d/evil"]
	path = emacs/.emacs.d/evil
	url = https://github.com/emacs-evil/evil
[submodule "vim/.vim/bundle/quick-scope"]
	path = vim/.vim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope
