[submodule "fish/.config/fish/nvm-wrapper"]
	path = fish/.config/fish/nvm-wrapper
	url = https://github.com/passcod/nvm-fish-wrapper

[submodule "vim/.vim/bundle/quick-scope"]
	path = vim/.vim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/bundle/vim-lastplace"]
	path = vim/.vim/bundle/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace
[submodule "vim/.vim/bundle/vim-fish"]
	path = vim/.vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "lf/lf"]
	path = lf/lf
	url = https://github.com/gokcehan/lf
